a {
	color: #222;
	opacity: 0.85;
	text-decoration: none;
}

div {
	font-family: arial, sans-serif;
}

.main {
	display: block;
	width: 50%;
	margin: 0 auto;
}

#logo {

}

#searchbar {

}

#buttons {

}

.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.navbar .left-nav {
	margin-left: 10px;
}

.navbar .right-nav {
	margin-right: 30px;
}

.navbar a {
	padding-left: 15px;
}

#google-apps::before {
	content: "";
	background-image: url("../images/google_apps_black.png");
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	opacity: 0.55;
}

#google-apps:hover::before {
	opacity: 1;
}
